/* Programmeer Project */

/* Laila Blömer */
/* 10563865 */

/* piechart.css styling piechart, table with piechart*/

#pie-row {
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    z-index: 2;
}

.piechart {
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
}

.pie-label {
    text-anchor: middle;
}

table#pie-table {
    position: relative;
    width: 80%;
}
