/* Programmeer Project */

/* Laila Blömer */
/* 10563865 */

/* linegraph.css styling multi-linegraph*/

#multi_linegraph {
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    height: 350px;
    border: 1px solid gray;
    z-index: 2;
}

h3#linegraph-title {
    left: 10%;
    top: 0;
}

#linegraph {
    position: absolute;
    left: 3%;
    top: 20px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.line {
    stroke-width: 1.5;
    fill: none;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.xline,
.yline {
    stroke: black;
    stroke-dasharray: 3.3;
    opacity: 0.5;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 120px;
    height: 100px;
    padding: 1px;
    font: bold 12px sans-serif;
    background: whitesmoke;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}
