/* Programmeer Project */

/* Laila Blömer */
/* 10563865 */

/* molecule.css styling molecule, information table */

#gas_info {
    position: relative;
    margin-top: 10px;
    margin-right: 30px;
    width: inherit;
    border: 1px solid gray;
    height: 700px;
}

#molecule {
    position: relative;
    bottom: 0;
}

.link line {
  stroke: #696969;
}

.link line.separator {
  stroke: #fff;
  stroke-width: 2px;
}

.node circle {
  stroke: #000;
  stroke-width: 1,5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

h3#title {
    left: 50px;
}

table#gas-table {
    position: relative;
    width: 80%;
    top: 10px;
    left: 50px;
}
